  {{#each errors}}
  <div class="ui visible negative message">
    <i class="close icon"></i>
    <div class="header">
      We're sorry we can't record your entry
    </div>
    <p>{{text}}</p>
  </div>
  {{else}}
  {{/each}}