{{#if error}}
  <div class="ui visible negative message">
    <i class="close icon"></i>
    <div class="header">
      We're sorry we can't record your entry
    </div>
    <p>An error occured</p>
  </div>
{{else}}
  <div class="ui visible success message">
      <i class="close icon"></i>
      <div class="header">
        Your entry was successful.
      </div>
      <p>You are now a valid member of our guestbook.</p>
  </div>
{{/if}}

			    		