{{#if error_msg}}
  <div class="ui visible negative message">
    <i class="close icon"></i>
    <p>{{error_msg}}</p>
  </div>
{{/if}}
{{#if success_msg}}
  <div class="ui visible success message">
      <i class="close icon"></i>
      <p>{{success_msg}}</p>
  </div>
{{/if}}

			    		