{{#if error}}
<div class="ui error message">
  <i class="close icon"></i>
  <div class="header">
    Your user registration was unsuccessful.
  </div>
</div>
{{else}}
<div class="ui success message">
  <i class="close icon"></i>
  <div class="header">
    Your user registration was successful.
  </div>
</div>
{{/if}}