<h2>Edit Guest Entry</h2>
<form class="ui form" action="/all-guest" method="PUT">
  <div class="field">
    <label>Full Name</label>
    <input type="text" name="name" placeholder="First Name" required>
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email" required>
  </div>
  <div class="field">
    <label>Comment</label>
    <textarea></textarea>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" required>
      <label>I agree to the Terms and Conditions</label>
    </div>
  </div>
  <button class="ui primary button" type="submit">Save</button>
    <a class="ui red button" href="/all-guest">Cancel</a>
</form>