<h1>Edit Guest Entry</h1>
<form class="ui form left aligned six column segment" action="/edit/{{guest.id}}?_method=PUT" method="post" name="form" id="form">
<input type="hidden" name="_method" value="PUT">
	<div class="field">
		<label>Full Name</label>
		<input type="text" id="fullname" name="fullname" value="{{guest.fullname}}" placeholder="Full Name" required>
	</div>
	<div class="field">
		<label>Email</label>
		<input type="email" id="email" name="email" value="{{guest.email}}" placeholder="Email Address" required>
	</div>
	<div class="field">
		<label>Comment</label>
		<textarea name="comment" id="comment" required>{{guest.comment}}</textarea>
	</div>
	<button class="ui submit button" type="submit">Submit</button>
	<a href="/all-guest" class="ui red button" >Cancel</a>
</form>
